{% extends 'base.html.twig' %}

{% block body %}
    <h1>CMSIlex</h1>
    <p>
        <a href="{{ url('list_pages') }}">Pages</a>
    </p>
    <p>
        <a href="{{ url('media') }}">Media</a>
    </p>
{% endblock body %}